<h2>
    @model ContactViewModel
    @{
        ViewBag.Title = "Contact Us";
    }
</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="name">Your Name: </label>
    <br />
    <input type="text" asp-for="name" />
    <br />
    <label asp-for="email">Email: </label>
    <br />
    <input type="email" asp-for="email" />
    <br />
    <label asp-for="subject">Subject: </label>
    <br />
    <input type="text" asp-for="subject" />
    <br />
    <label asp-for="message">Message: </label>
    <br />
    <textarea rows="4" asp-for="message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>